<!-- Content -->
<section class="career block-blue white-line block-line" career data-set-menu>
	<div class="career__decor-left"></div>
	<div class="career__decor-left-mob" career-top-bg></div>

	<div class="section section__ident">
		<div class="section__content">
			<div class="section__title">
				<h2 class="txt-white mb-5" title-line>
					<a href="#" class="link-arrow">
						Карьера
					</a>
				</h2>
				<p>Свежие вакансии</p>
			</div>

			<div class="career__content">
				<div class="career__left-col">
					<div class="career__left-col-decor career-left-col-decor-js animate-wave" career-bot-bg></div>
					<div class="section__title">
						<p>Свежие вакансии</p>
					</div>
					<div class="career__pos">
						
						<div class="career__pos-item">
							<a href="#" class="link-arrow">
								<img src="./images/icon-russia.svg" class="career__pos-item-icon" alt="Icon city">
							</a>
							
							<p class="career__pos-item-city txt-sm">
								<b>
									Москва, Россия
								</b>
							</p>
							<h3 class="career__pos-item-name lh-12">
								<a href="#">Название должности</a>
							</h3>
							<p class="career__pos-item-active">
								<i>Название сферы деятельности</i>
							</p>
						</div>

						<div class="career__pos-item">
							<a href="#" class="link-arrow">
								<img src="./images/icon-russia.svg" class="career__pos-item-icon" alt="Icon city">
							</a>
							<p class="career__pos-item-city txt-sm">
								<b>
									Москва, Россия
								</b>
							</p>
							<h3 class="career__pos-item-name lh-12">
								<a href="#">
									Название должности <br>
									Название должности <br>
									Название должности
								</a>
							</h3>
							<p class="career__pos-item-active">
								<i>Название сферы деятельности</i>
							</p>
						</div>

						<div class="career__pos-item">
							<a href="#" class="link-arrow">
								<img src="./images/icon-russia.svg" class="career__pos-item-icon" alt="Icon city">
							</a>
							<p class="career__pos-item-city txt-sm">
								<b>
									Москва, Россия
								</b>
							</p>
							<h3 class="career__pos-item-name lh-12">
								<a href="#">
									Название должности <br>
									Название должности
								</a>
							</h3>
							<p class="career__pos-item-active">
								<i>
									Название сферы деятельности <br>
									Название сферы деятельности
								</i>
							</p>
						</div>

						<div class="career__pos-item">
							<a href="#" class="link-arrow">
								<img src="./images/icon-russia.svg" class="career__pos-item-icon" alt="Icon city">
							</a>
							<p class="career__pos-item-city txt-sm">
								<b>
									Москва, Россия
								</b>
							</p>
							<h3 class="career__pos-item-name lh-12">
								<a href="#">
									Название должности
								</a>
							</h3>
							<p class="career__pos-item-active">
								<i>
									Название сферы деятельности
								</i>
							</p>
						</div>

						<div class="career__pos-btn">
							<a href="#" class="btn border-white">Узнать больше</a>
						</div>
					</div>
				</div>
				<div class="career__right-col">
					<div class="career__right-col-decor career-right-col-decor-js animate-wave">
					</div>
					<div class="career__info">
						<div class="career__info-col">
							
							<div class="career__info-item">
								<h3 class="career__info-item-title lh-12">
									<a href="#">
										Заголовок блока
									</a>
								</h3>
								<p class="career__info-item-txt">
									<i>
										Небольшой текстовый информационный блок с полезной инфой.
									</i>
								</p>
							</div>

							<div class="career__info-item">
								<h3 class="career__info-item-title lh-12">
									<a href="#">
										Заголовок блока <br>
										Заголовок блока
									</a>
								</h3>
								<p class="career__info-item-txt">
									<i>
										Небольшой текстовый информационный блок с полезной инфой.
									</i>
								</p>
							</div>

							<div class="career__info-item">
								<h3 class="career__info-item-title lh-12">
									<a href="#">
										Заголовок блока <br>
										Заголовок блока
									</a>
								</h3>
								<p class="career__info-item-txt">
									<i>
										Небольшой текстовый информационный блок с полезной инфой. <br>
										Небольшой текстовый информационный блок с полезной инфой. 
									</i>
								</p>
							</div>

							<div class="career__info-btn">
								<a href="#" class="btn border-white">Узнать больше</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End content -->