<section class="history-devel block-line blue-line" data-fixed-bot-mod-menu>
	<div class="section section__ident">
		<div class="section__content">
			<div class="section__title mod">
				<h2 title-line>
					<a href="#" class="link-arrow">История развития</a>
				</h2>
				<p>
					<b class="txt-blue">Команда alt</b> – это профессионалы более чем с 20-летним опытом. За эти годы команда вывела на рынок* <br>
					много новых и сейчас уже очень популярных брендов. alt является их эксклюзивным дистрибьютором.
				</p>
			</div>

			<div class="history-devel__content">

				<div class="history-devel__item">
					<div class="year">
						2017
					</div>
					<div class="decor">
						<span></span>
					</div>
					<div class="txt txt-md-20 lh-12">
						медицинская техника <br>
						<b>Microlife</b>
					</div>
				</div>

				<div class="history-devel__item">
					<div class="year">
						2015
					</div>
					<div class="decor">
						<span></span>
					</div>
					<div class="txt txt-md-20 lh-12">
						детская косметика <b>Bubchen</b>,
						детские аксессуары и товары
						для кормления <b>NUK</b>
					</div>
				</div>

				<div class="history-devel__item">
					<div class="year">
						2012
					</div>
					<div class="decor">
						<span></span>
					</div>
					<div class="txt txt-md-20 lh-12">
						детские развивающие игрушки
						и аксессуары <b>PlayGro</b>, детские
						аксессуары и товары для 
						кормления <b>Dr. Brawn</b>, 
						гигиенические товары <b>TENA</b>
					</div>
				</div>

				<div class="history-devel__item">
					<div class="year">
						1997
					</div>
					<div class="decor">
						<span></span>
					</div>
					<div class="txt txt-md-20 lh-12">
						медицинские товары
						<b>Prolife</b>, аксессуары для мам
						и детей Happy Care
					</div>
				</div>

				<div class="history-devel__item">
					<div class="year">
						2009
					</div>
					<div class="decor">
						<span></span>
					</div>
					<div class="txt txt-md-20 lh-12">
						инновационные приборы
						для младенцев <b>AGU</b>
					</div>
				</div>

				<div class="history-devel__item">
					<div class="year">
						2010
					</div>
					<div class="decor">
						<span></span>
					</div>
					<div class="txt txt-md-20 lh-12">
						товары для новорожденных
						и мам <b>Bebe D`or</b>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-xs-12">
					<p class="highlight bg-gray">
						<i>
							* Сноска — Quickly build multimedia based e-business through B2B systems. Globally utilize strategic systems through proactive portals. Uniquely redefine scalable leadership skills for B2B testing procedures.
						</i>
					</p>
				</div>
			</div>
		</div>
		<div class="section__aside">
			
		</div>
	</div>
</section>