<!-- Title slider -->
<div class="wrap-slider-info" data-set-menu>
    <div class="slider-info" slider-info>
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="slider-info__item">
                    <section class="section">
                        <div class="section__content">
                            <h2>
                                Ценности компании ценности компании ценности компании <br>
                                Ценности компании ценности компании ценности компании <br>
                                Ценности компании ценности компании ценности компании <br>
                                Ценности компании ценности компании ценности компании <br>
                                Ценности компании ценности компании ценности компании <br>
                                Ценности компании ценности компании ценности компании
                            </h2>
                            <div class="txt">
                                <p>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения <br>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения <br>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения <br>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения <br>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения <br>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения <br>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения <br>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения
                                </p>
                            </div>
                        </div>
                        <div class="section__aside"></div>
                    </section>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-info__item">
                    <section class="section">
                        <div class="section__content">
                            <h2>Ценности компании ценности компании <br> Ценности компании ценности компании </h2>
                            <div class="txt">
                                <p>Мелкий текст на одну или несколько строк, в зависимости от настроения</p>
                            </div>
                        </div>
                        <div class="section__aside"></div>
                    </section>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-info__item">
                    <section class="section">
                        <div class="section__content">
                            <h2>Ценности компании</h2>
                            <div class="txt">
                                <p>
                                    Мелкий текст на одну или несколько строк, в зависимости от настроения
                                </p>
                            </div>
                        </div>
                        <div class="section__aside"></div>
                    </section>
                </div>
            </div>
            <!-- Slides -->
        </div>
        <div class="slider-info-btn-next">
            <i class="my-icon icon-slider-arrow-upp"></i>
        </div>
        <div class="slider-info-btn-prev">
            <i class="my-icon icon-slider-arrow-down"></i>
        </div>
    </div>
    <div class="wrap-bg-slider-info">
        <div class="bg-slider-info" bg-slider-info>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="bg-slider-info__image" style="background-image: url('./images/content/title-3.jpg')">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-slider-info__image" style="background-image: url('./images/content/title-2.jpg')">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-slider-info__image" style="background-image: url('./images/content/title-1.jpg')">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- End title slider -->