<!-- Title slider -->
<div class="main-title set-top-menu" data-set-menu>
    <div class="title-slider" title-slider>
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="main-title__item">
                    <section class="section">
                        <div class="section__content">
                            <h2 class="title h1 mb-20">Заголовок крупный <br> на две строки</h2>
                            <p class="txt">Мелкий текст на одну или несколько строк, <br> в зависимости от настроения</p>
                        </div>
                        <div class="section__aside"></div>
                    </section>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-title__item">
                    <section class="section">
                        <div class="section__content">
                            <h2 class="title h1 mb-20">
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
                            </h2>
                            <p class="txt">
                                Мелкий текст на одну или несколько строк, <br> в зависимости от настроения <br>
                                Мелкий текст на одну или несколько строк, <br> в зависимости от настроения
                            </p>
                        </div>
                        <div class="section__aside"></div>
                    </section>
                </div>
            </div>
            <!-- Slides -->
        </div>
        <div class="swiper-btn-next">
            <i class="my-icon icon-slider-arrow-upp"></i>
        </div>
        <div class="swiper-btn-prev">
            <i class="my-icon icon-slider-arrow-down"></i>
        </div>
    </div>
    <div class="wrap-title-bg-slider">
        <div class="title-bg-slider" title-bg-slider>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="title-bg-slider__image" style="background-image: url('./images/content/title-1.jpg')">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="title-bg-slider__image"  style="background-image: url('./images/content/title-2.jpg')">
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>

<!-- End title slider -->