<script src="./js/jquery-2.2.4.min.js"></script>
<script src="./js/jquery.transit.min.js"></script>
<script src="./js/snap.svg-min.js"></script>
<script src="./js/smooth-scroll.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery.scrolly.js"></script>
<script src="./js/swiper.js"></script>
<script src="./js/bootstrap-select.min.js"></script>
<script src="./js/jquery.mousewheel.js"></script>
<script src="./js/jquery.jscrollpane.min.js"></script>
<script src="./js/init.js"></script>
