html {
	overflow-x: hidden;
}
.wdth-content-full {
	width: 100%;
}

.clearfix {
	.clearfix();
}

.overflow-hid {
	overflow: hidden;
}

img {
	width: 100%;
    max-width: 100%;
}

.disp-block {
	display: block;
}

.pull {
	&-right {
		float: right;
	}

	&-left {
		float: left;
	}
}

.mt {
	&-none {
		margin-top: 0 !important;
	}

	&-xs {
		margin-top: 5px !important;
	}

	&-sm {
		margin-top: 10px;
	}

	&-md {
		margin-top: 15px;
	}

	&-lg {
		margin-top: 20px;
	}

	&-lg-30 {
		margin-top: 30px !important;
	}

	&-xlg {
		margin-top: 40px;
	}

	&-xxlg {
		margin-top: 60px !important;
	}

	&-xxxlg {
		margin-top: 80px !important;
	}

	&-xxxxlg {
		margin-top: 100px !important;
	}
}

.mb {

	&-none {
		margin-bottom: 0 !important;
	}
	&-xs {
		margin-bottom: 10px;
	}

	&-sm {
		margin-bottom: 10px;
	}

	&-md {
		margin-bottom: 15px !important;
	}

	&-lg {
		margin-bottom: 20px;
	}

	&-lg-30 {
		margin-bottom: 30px !important;
	}

	&-xlg {
		margin-bottom: 25px !important;
	}

	&-xxlg {
		margin-bottom: 40px;
	}

	&-xxxlg {
		margin-bottom: 60px;
	}
}

.pb {
	&-none {
		padding-bottom: 0 !important;
	}
}

.pt {
	&-none {
		padding-top: 0 !important;
	}
}

.pl {
	&-none {
		padding-left: 0;
	}
}

.pr {
	&-none {
		padding-right: 0;
	}
}


@media all and (min-width: @media-xs) {

}

@media all and (min-width: @media-sm) {
	
}

@media all and (min-width: @media-mid) {
	
}

@media all and (min-width: @media-lg) {
	
}

@media all and (max-width: 479px) {
	.hidden-xs {
		display: none !important;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.hidden-sm {
		display: none !important;
	}
}

@media all and (min-width: 768px) and (max-width: 989px) {
	.hidden-md {
		display: none !important;
	}
}

@media all and (min-width: 990px) and (max-width: 1199px) {
	.hidden-lg {
		display: none !important;
	}
}

@media all and (min-width: 1200px) {
	.hidden-xlg {
		display: none !important;
	}
}
