
//-------------------------------------
// FONT COCO GOTHIC
//-------------------------------------
@font-face {
    font-family: 'CocoGothic';
    src: url('@{path-fonr-coco-gothic}/Coco Gothic Ultralight-trial.eot');
    src: url('@{path-fonr-coco-gothic}/Coco Gothic Ultralight-trial.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonr-coco-gothic}/Coco Gothic Ultralight-trial.woff') format('woff'),
         url('@{path-fonr-coco-gothic}/Coco Gothic Ultralight-trial.ttf') format('truetype'),
         url('@{path-fonr-coco-gothic}/Coco Gothic Ultralight-trial.svg#robotolight') format('svg');
    font-weight: @font-ultra-light;
    font-style: normal;
}

@font-face {
    font-family: 'CocoGothic';
    src: url('@{path-fonr-coco-gothic}/Coco Gothic Light-trial.eot');
    src: url('@{path-fonr-coco-gothic}/Coco Gothic Light-trial.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonr-coco-gothic}/Coco Gothic Light-trial.ttf') format('truetype'),
         url('@{path-fonr-coco-gothic}/Coco Gothic Light-trial.svg#robotolight') format('svg');
    font-weight: @font-light;
    font-style: normal;
}

@font-face {
    font-family: 'CocoGothic';
    src: url('@{path-fonr-coco-gothic}/Coco Gothic Regular-trial.eot');
    src: url('@{path-fonr-coco-gothic}/Coco Gothic Regular-trial.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonr-coco-gothic}/Coco Gothic Regular-trial.woff2') format('woff'),
         url('@{path-fonr-coco-gothic}/Coco Gothic Regular-trial.ttf') format('truetype'),
         url('@{path-fonr-coco-gothic}/Coco Gothic Regular-trial.svg#robotolight') format('svg');
    font-weight: @font-regular;
    font-style: normal;
}

@font-face {
    font-family: 'CocoGothic';
    src: url('@{path-fonr-coco-gothic}/CocoGothic.eot');
    src: url('@{path-fonr-coco-gothic}/CocoGothic.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonr-coco-gothic}/CocoGothic.woff') format('woff'),
         url('@{path-fonr-coco-gothic}/CocoGothic.ttf') format('truetype'),
         url('@{path-fonr-coco-gothic}/CocoGothic.svg#robotolight') format('svg');
    font-weight: @font-regular-def;
    font-style: normal;
}

@font-face {
    font-family: 'CocoGothic';
    src: url('@{path-fonr-coco-gothic}/CocoGothic.eot');
    src: url('@{path-fonr-coco-gothic}/CocoGothic.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonr-coco-gothic}/CocoGothic.woff') format('woff'),
         url('@{path-fonr-coco-gothic}/CocoGothic.ttf') format('truetype'),
         url('@{path-fonr-coco-gothic}/CocoGothic.svg#robotolight') format('svg');
    font-weight: @font-bold;
    font-style: normal;
}

//-------------------------------------
// FONT BEBAS
//-------------------------------------
@font-face {
    font-family: 'Bebas';
    src: url('@{path-font-bebas}/BebasNeue Regular.eot');
    src: url('@{path-font-bebas}/BebasNeue Regular.eot?#iefix') format('embedded-opentype'),
         url('@{path-font-bebas}/BebasNeue Regular.woff2') format('woff2'),
         url('@{path-font-bebas}/BebasNeue Regular.ttf') format('truetype'),
         url('@{path-font-bebas}/BebasNeue Regular.svg#robotolight') format('svg');
    font-weight: @font-regular;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('@{path-font-bebas}/BebasNeueBold.eot');
    src: url('@{path-font-bebas}/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
         url('@{path-font-bebas}/BebasNeueBold.woff') format('woff'),
         url('@{path-font-bebas}/BebasNeueBold.ttf') format('truetype'),
         url('@{path-font-bebas}/BebasNeueBold.svg#robotolight') format('svg');
    font-weight: @font-bold;
    font-style: normal;
}

//-------------------------------------
// FONT HELVETICA
//-------------------------------------
@font-face {
    font-family: 'Helvetica';
    src: url('@{path-font-helvetica}/HelveticaNeueCyr-Medium.eot');
    src: url('@{path-font-helvetica}/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Medium.woff') format('woff'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Medium.ttf') format('truetype'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Medium.svg#robotolight') format('svg');
    font-weight: @font-medium;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@{path-font-helvetica}/HelveticaNeueCyr-Light.eot');
    src: url('@{path-font-helvetica}/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Light.woff') format('woff'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Light.ttf') format('truetype'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Light.svg#robotolight') format('svg');
    font-weight: @font-light;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@{path-font-helvetica}/HelveticaNeueCyr-Bold.eot');
    src: url('@{path-font-helvetica}/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Bold.woff') format('woff'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Bold.ttf') format('truetype'),
         url('@{path-font-helvetica}/HelveticaNeueCyr-Bold.svg#robotolight') format('svg');
    font-weight: @font-bold;
    font-style: normal;
}

//-------------------------------------
// FONT DIN PRO
//-------------------------------------
@font-face {
    font-family: 'ALSSchlangesans';
    src: url('@{path-font-schlangesans}/ALSSchlangesans-Bold.eot');
    src: url('@{path-font-schlangesans}/ALSSchlangesans-Bold.eot?#iefix') format('embedded-opentype'),
         url('@{path-font-schlangesans}/ALSSchlangesans-Bold.woff') format('woff'),
         url('@{path-font-schlangesans}/ALSSchlangesans-Bold.ttf') format('truetype'),
         url('@{path-font-schlangesans}/ALSSchlangesans-Bold.svg#robotolight') format('svg');
    font-weight: @font-bold;
    font-style: normal;
}

//-------------------------------------
// FONT local style
//-------------------------------------


@font: 'CocoGothic', Arial;

/* Default setting typography */
html {
    background-color: @color-white;
    font-size: 16px;
    color: @color-gray;
    font-family: @font;
    font-weight: @font-light;
    font-style: normal;
    line-height: 1.4;
}

* {
    .box-sizing();
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    outline: none;
    line-height: inherit;
}

p {
    font-weight: @font-light;
    margin: 0 0 10px;
    line-height: inherit;
}

b {
    line-height: inherit;
    display: inline-block;
    font-weight: @font-bold;
}

span {
    line-height: inherit;
    font-weight: inherit;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s linear;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: @font-bold;
    line-height: 1.4;
	letter-spacing:-0.02em;
}

h1,
.h1 {
    font-size: 30px;
	line-height:1.2;
    margin-top: 15px;
    margin-bottom: 25px;
}

h2,
.h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

h3,
.h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
	
}

h4 {
	
}


h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}

ul.mod {
    padding-left: 25px;

    li {
        margin-bottom: 10px;
        position: relative;

        &:after {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: @color-balck-2;
            position: absolute;
            left: -15px;
            top: 5px;
        }
    }
}


.txt- {
    &center {
        text-align: center;
    }

    &left {
        text-align: left;
    }

    &right {
        text-align: right;
    }
}

.txt {
    &-black {
        color: @color-balck-2;
    }
}

// My icons
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.woff') format('woff'),
        url('../fonts/icons/icomoon.ttf')  format('truetype'),
        url('../fonts/icons/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-rate"], [class*="icon-rate"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rate { color: #fcb903; }
.icon-rate:before { letter-spacing: 3px; }

.icon-rate-0:before {
    content: "\e607 \e607 \e607 \e607 \e607";
}

.icon-rate-1:before {
    content: "\e606 \e607 \e607 \e607 \e607";
}

.icon-rate-2:before {
    content: "\e605 \e607 \e607 \e607 \e607";
}

.icon-rate-3:before {
    content: "\e605 \e606 \e607 \e607 \e607";
}

.icon-rate-4:before {
    content: "\e605 \e605 \e607 \e607 \e607";
}

.icon-rate-5:before {
    content: "\e605 \e605 \e606 \e607 \e607";
}

.icon-rate-6:before {
    content: "\e605 \e605 \e605 \e607 \e607";
}

.icon-rate-7:before {
    content: "\e605 \e605 \e605 \e606 \e607";
}

.icon-rate-8:before {
    content: "\e605 \e605 \e605 \e605 \e607";
}

.icon-rate-9:before {
    content: "\e605 \e605 \e605 \e605 \e606";
}

.icon-rate-10:before {
    content: "\e605 \e605 \e605 \e605 \e605";
} 

