//-------------------------------------
// FONT
//-------------------------------------

// WEIGHTS
@font-ultra-light: 100;
@font-light: 200;
@font-regular: 300;
@font-regular-def: 900;
@font-medium: 400;
@font-bold: 600;
@font-semi-bold: 700;
@font-black: 800;
@font-heavy: 800;

//FONT FAMILY PATH
@path-font-bebas: "../fonts/Bebas";
@path-font-helvetica: "../fonts/HelveticaNeue";
@path-fonr-coco-gothic: "../fonts/Coco_Gothic";
@path-font-schlangesans: "../fonts/ALS_Schlange_Sans";
//-------------------------------------
// GRID
//-------------------------------------

// MEDIA QUERIES 
@media-xs: 480px;
@media-sm: 768px;
@media-mid: 990px;
@media-lg: 1200px;


//-------------------------------------
// COLOR
//-------------------------------------
@color-gray: #888;
@color-gray-2: #d5d1d1;
@color-gray-3: #a6a1a5;
@color-gray-4: #d5d1d1;
@color-gray-5: #bcbcbc;
@color-gray-6: #ddd;
@color-gray-7: #ebebeb;
@color-gray-8: #b3b3b3;
@color-gray-9: #f5f5f5;
@color-gray-10: #cfcfcf;
@color-gray-11: #c9c9c9;
@color-balck: #000;
@color-balck-2: #333333;
@color-black-3: #2c2c2c;
@color-black-4: #181717;
@color-black-5: #464646;
@color-black-6: #e6e6e6;
@color-black-7: #b0aeb0;
@color-white: #fff;
@color-red: #f0002f;
@color-red-2: #bf0018;
@color-red-3: #c10b28;
@color-green: #48b94e;
@color-yellow: #ffcd00;
@color-yellow-2: #ffba4e;




//-------------------------------------
// PATH
//-------------------------------------
@path-img: "../images";
//-------------------------------------
// Z-INDEX 
//-------------------------------------
@index-basic-elem: 10;