<footer class="foot">
	<div class="foot__content">
		<div class="foot__col">
			<div class="foot__txt">
				<p>
					© ALT 2017. All rights reserved.
				</p>
				<p>
					ООО «Актив Лайф Технолоджи»
				</p>
				<p>
					УНП: 192643302
				</p>
			</div>
		</div>
		<div class="foot__col">
			<div class="foot__contact-info">
				<div class="row">
					<div class="col-sm-6">
						<div class="foot__social">
							<div class="menu__social def">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-vk"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-facebook-square"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="text-left foot__contact-btn">
							<a href="#" class="btn border-white btn-icon text-uppercase">
								<i class="fa fa-map-marker mr-5"></i>
								Контакты
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="foot__col">
			<div class="foot__logo">
				<a href="#">
					<i class="my-icon icon-logo-company-creator"></i>
				</a>
			</div>
		</div>
	</div>
</footer>