<div class="mob-menu">
	<div class="mob-menu__head">
		<div class="mob-menu__head-lang">
			<a class="active" href="#">EN</a>
			<a href="#">RU</a>
		</div>
		<div class="mob-menu__head-logo">
			<a href="#" class="logo-first">
				<img src="./images/logo-mobile.svg" alt="Logo mobile first">
			</a>
			<a href="#" class="logo-second">
				<img src="./images/logo.svg" alt="Logo mobile second">
			</a>
		</div>
		<div class="mob-menu__head-btn">
			<span class="mob-btn" mob-btn-menu>
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
	</div>
	<div class="mob-menu__content">
		<div class="contain">
			<ul class="mob-menu__list">
				<li>
					<a href="#">Главная</a>
				</li>
				<li>
					<a href="#">Новости</a>
				</li>
				<li>
					<a href="#">Карьера</a>
				</li>
				<li>
					<a href="#">Бренды</a>
				</li>
				<li>
					<a href="#">Партнерам</a>
				</li>	
				<li>
					<a href="#">Контакты</a>
				</li>
				<li class="social">
					<div class="menu__social white">
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-vk"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-map-marker"></i>
								</a>
							</li>
						</ul>
					</div>
				</li>	
			</ul>
		</div>
		
	</div>
</div>

<header class="head">
	<div class="section">
		<div class="section__content">
			
			<div class="head__wrap">

				<div class="head__logo">
					<a href="#" class="logo-mob__link">
						<img src="./images/logo.svg" alt="Logo">
					</a>
				</div>

				<div class="head__breadcrumbs">
					<ul>
						<li>
							<a href="#">Главная</a>
						</li>
						<li>
							<a href="#">Новости</a>
						</li>
						<li>
							<a href="#">Текущая новость</a>
						</li>
					</ul>
				</div>

				<div class="head__btn-menu">
					<span class="btn-mob-menu" mob-btn-menu>
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>

				<div class="head__language">
					<ul>
						<li>
							<a href="#">EN</a>
						</li>
						<li>
							<a class="active" href="#">RU</a>
						</li>
					</ul>
				</div>

			</div>

		</div>
	</div>
</header>

<div class="wrap-desktop-menu def" data-menu-desktop>
	<div class="menu" >
		<div class="menu__wrap">
			<div class="menu__first">
				<div class="menu__logo">
					<a href="#">
						<i class="my-icon icon-logo"></i>
					</a>
				</div>
				<menu class="menu__list">
					<li>
						<a href="#">Главная</a>
					</li>
					<li>
						<a href="#">Новости</a>
					</li>
					<li>
						<a href="#">Карьера</a>
					</li>
					<li>
						<a href="#">Бренды</a>
					</li>
					<li>
						<a href="#">Партнерам</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
				</menu>
				<div class="menu__social">
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-vk"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-map-marker"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>