<!-- Section news -->
<section class="block-news" data-set-menu>

	<div class="section section__ident">
		<div class="section__content">
			<div class="section__title">
				<h2>
					<a href="#" class="link-arrow">
						Новости
					</a>
				</h2>
				<p>
					Мелкий текст на одну или несколько строк, <br>
					в зависимости от настроения
				</p>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="wrap-news-item">
							<a href="#" class="news-item__link md" style="background-image: url('./images/content/news-6.jpg');">
								<div class="news-item__txt">
									<div class="news-item__txt-contain">
										<p class="date">7 марта</p>
										<p class="txt">
											Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
										</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="wrap-news-item">
							<a href="#" class="news-item__link md" style="background-image: url('./images/content/news-5.jpg');">
								<div class="news-item__txt">
									<div class="news-item__txt-contain">
										<p class="date">7 марта</p>
										<p class="txt">
											Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
										</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="wrap-news-item">
							<a href="#" class="news-item__link sm" style="background-image: url('./images/content/news-3.jpg');">
								<div class="news-item__txt">
									<div class="news-item__txt-contain">
										<p class="date">7 марта</p>
										<p class="txt">
											Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
										</p>
									</div>
								</div>
							</a>
							<a href="#" class="news-item__link sm hidden-sm" style="background-image: url('./images/content/news-4.jpg');">
								<div class="news-item__txt">
									<div class="news-item__txt-contain">
										<p class="date">7 марта</p>
										<p class="txt">
											Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
										</p>
									</div>
								</div>
							</a>
						</div>	
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="wrap-news-item">
							<a href="#" class="news-item__link" style="background-image: url('./images/content/news-1.jpg');">
								<div class="news-item__txt">
									<div class="news-item__txt-contain">
										<p class="date">7 марта</p>
										<p class="txt">
											Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
										</p>
									</div>
								</div>
							</a>
							<a href="#" class="news-item__link hidden-sm" style="background-image: url('./images/content/news-1.jpg');">
								<div class="news-item__txt">
									<div class="news-item__txt-contain">
										<p class="date">7 марта</p>
										<p class="txt">
											Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
										</p>
									</div>
								</div>
							</a>
							<a href="#" class="news-item__link hidden-sm" style="background-image: url('./images/content/news-2.jpg');">
								<div class="news-item__txt">
									<div class="news-item__txt-contain">
										<p class="date">7 марта</p>
										<p class="txt">
											Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
										</p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="block-news__btn">
				<a href="#" class="btn">Перейти к новостям</a>
			</div>
		</div>
	</div>
</section>
		<!-- End section news -->