<section class="partners block-line blue-line" data-fixed-bot-mod-menu>
	<div class="section section__ident">
		<div class="section__content">
			<div class="section__title">
				<h2 class="mb-5" title-line>
					<a href="#" class="link-arrow">Партнерам</a>
				</h2>
				<p>
					Мелкий текст на одну или несколько строк, <br>
					в зависимости от настроения
				</p>
			</div>
			<div class="partners__contain">
				<ol>
					<li>
						<h3 class="lh-11 mb-5">
							Название <br>
							преимущества
						</h3>
						<p>
							Мелкий текст на одну или несколько строк, в зависимости от настроения
						</p>
					</li>

					<li>
						<h3 class="lh-11 mb-5">
							Название преимущества название преимущества название преимущества название преимущества
						</h3>
						<p>
							Мелкий текст на одну или несколько строк, в зависимости от настроения мелкий текст на одну или несколько строк, в зависимости от настроения
						</p>
					</li>

					<li>
						<h3 class="lh-11 mb-5">
							Название преимущества название преимущества название
						</h3>
						<p>
							Мелкий текст на одну или несколько строк, в зависимости от настроения мелкий текст на одну или несколько строк
						</p>
					</li>

					<li>
						<h3 class="lh-11 mb-5">
							Название <br>
							преимущества
						</h3>
						<p>
							Мелкий текст на одну или несколько строк, в зависимости от настроения
						</p>
					</li>

					<li>
						<h3 class="lh-11 mb-5">
							Название преимущества название преимущества название преимущества название преимущества
						</h3>
						<p>
							Мелкий текст на одну или несколько строк, в зависимости от настроения мелкий текст на одну или несколько строк, в зависимости от настроения
						</p>
					</li>

					<li>
						<h3 class="lh-11 mb-5">
							Название <br>
							преимущества
						</h3>
						<p>
							Мелкий текст на одну или несколько строк, в зависимости от настроения
						</p>
					</li>
				</ol>
			</div>
			<div class="partners__btn">
				<div class="partners__btn-col">
					<a href="#" class="btn">Узнать больше</a>
				</div>
				<div class="partners__btn-col">
					<a href="#" class="btn">Стать партнером</a>
				</div>
			</div>
		</div>	
	</div>
</section>