<div class="wrap-slider-history">
	<section class="section">
		<div class="section__content">
			<div class="block-slider-history">
				<div class="slider-history__title">
					<h2 class="title h1 txt-white lh-1">История Успеха</h2>
				</div>
				<div class="slider-history" slider-history>
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="slider-history__item">
								<div class="slider-history__wrap-img">
									<span class="slider-history__img-bg">
										<span class="slider-history__img" style="background-image: url('./images/content/woman.jpg')">
										</span>
									</span>
								</div>
								<div class="slider-history__txt">
									<h4 class="title h2 lh-12 mb-5">Елена Прекрасная</h4>
									<p class="sub-title">
										Менеджер среднего звена  /  26 лет  /  Город, Страна
									</p>
									<p>
										Conveniently aggregate impactful initiatives through collaborative niches. Competently productize sticky scenarios.
									</p>
									<p>
										Professionally scale quality models with long-term high-impact markets. Enthusiastically negotiate tactical total linkage rather than multifunctional niche markets. Conveniently aggregate impactful initiatives through collaborative niches. Competently productize sticky scenarios.
									</p>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="slider-history__item">
								<div class="slider-history__wrap-img">
									<span class="slider-history__img-bg">
										<span class="slider-history__img" style="background-image: url('./images/content/man.jpg')">
										</span>
									</span>
								</div>
								<div class="slider-history__txt">
									<h4 class="title h2 lh-12 mb-5">
										Елена Прекрасная
									</h4>
									<p class="sub-title">
										Менеджер среднего звена  /  26 лет  /  Город, Страна
									</p>
									<p>
										Professionally scale quality models with long-term high-impact markets. Enthusiastically negotiate tactical total linkage rather than multifunctional niche markets. Conveniently aggregate impactful initiatives through collaborative niches. Competently productize sticky scenarios.
									</p>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="slider-history__item">
								<div class="slider-history__wrap-img">
									<span class="slider-history__img-bg">
										<span class="slider-history__img" style="background-image: url('./images/content/woman.jpg')">
										</span>
									</span>
								</div>
								<div class="slider-history__txt">
									<h4 class="title h2 lh-12 mb-5">Елена Прекрасная</h4>
									<p class="sub-title">
										Менеджер среднего звена  /  26 лет  /  Город, Страна
									</p>
									<p>
										Professionally scale quality models with long-term high-impact markets. Enthusiastically negotiate tactical total linkage rather than multifunctional niche markets. Conveniently aggregate impactful initiatives through collaborative niches. Competently productize sticky scenarios.
									</p>
									<p>
										Professionally scale quality models with long-term high-impact markets. Enthusiastically negotiate tactical total linkage rather than multifunctional niche markets. Conveniently aggregate impactful initiatives through collaborative niches. Competently productize sticky scenarios.
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>

				<span class="btn-slider-prev">
					<i class="my-icon icon-slider-arrow-slim-left"></i>
				</span>
				<span class="btn-slider-next">
					<i class="my-icon icon-slider-arrow-slim-right"></i>
				</span>

				<div class="swiper-pagination"></div>
			</div>
		</div>	
	</section>
</div>