<!-- Slider firms -->
<div class="wrap-slider-firms bg-gray">
	<div class="section">
		<div class="section__content">
			<div class="slider-firms__contain">
				<div class="slider-firms" slider-firms>
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<a href="#" class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/askona.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/askona-blue.png")'>
								</span>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/campina.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/campina-blue.png")'>
								</span>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/dyntec.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/dyntec-blue.png")'>
								</span>
							</a>
						</div>
						<div class="swiper-slide">
							<a href='#' class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/evalar.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/evalar-blue.png")'>
								</span>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/mckesson.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/mckesson-blue.png")'>
								</span>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/phs.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/phs-blue.png")'>
								</span>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/roche.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/roche-blue.png")'>
								</span>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/strepsils.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/strepsils-blue.png")'>
								</span>
							</a>
						</div>
						<div class="swiper-slide">
							<a href='#' class="slider-firms__item">
								<span class="slider-firms__image" style='background-image: url("./images/firms/vertex.png")'>
								</span>
								<span class="slider-firms__image-blue" style='background-image: url("./images/firms/vertex-blue.png")'>
								</span>
							</a>
						</div>

					</div>
				</div>
				<span class="slider-firms__arrow next">
					<span class="my-icon icon-slider-arrow-slim-left"></span>
				</span>
				<span class="slider-firms__arrow prev">
					<span class="my-icon icon-slider-arrow-slim-right"></span>
				</span>
			</div>
			<div class="slider-firms__btn">
				<a href="#" class="btn">Узнать больше</a>
			</div>
		</div>
	</div>
</div>

<!-- End slider firms -->