<!-- Scripts -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/uikit.js"></script>
<script src="js/slider.min.js"></script>
<script src="js/modal.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/slideset.min.js"></script>
<script src="js/grid.min.js"></script>
<script src="js/jquery.fractionslider.min.js"></script>
<script src="js/jquery.scrolly.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/init.js"></script>
