<footer class="foot decorate">
	<div class="decorate__item decorate-foot left xlg">
		<img src="images/decor-elem/decor-11.png" alt="">
	</div>
	<div class="decorate__item decorate-foot xlg right">
		<img src="images/decor-elem/decor-13.png" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-lg-3 col-lg-offset-1">
				<div class="foot__contact">
					<p class="foot__title">
						Контакты
					</p>
					<div class="foot__contact-item">
						<i class="fa fa-map-marker"></i>
						г. Брест, ул. 17 Сентября
					</div>
					<div class="foot__contact-item">
						<i class="fa fa-phone"></i>
						8 025 777-70-00
					</div>
					<div class="foot__contact-item">
						<i class="fa fa-envelope"></i>
						nanex@tut.by
					</div>
				</div>
				<ul class="list-soc">
					<li>
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-vk"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-4 col-lg-3">
				<div class="foot__work">
					<p class="foot__title">
						Рабочее время
					</p>
					<div class="foot__work-item">
						<span class="foot__work-name">Поннедельник - пятница</span>
						<span class="foot__work-time">07.00 - 24.00</span>
					</div>
					<div class="foot__work-item">
						<span class="foot__work-name">Суббота</span>
						<span class="foot__work-time">08.00 - 24.00</span>
					</div>
					<div class="foot__work-item">
						<span class="foot__work-name">Воскресенье</span>
						<span class="foot__work-time">09.00 - 24.00</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-offset-1">
				<div class="foot__links">
					<p class="foot__title">
						Карта сайта
					</p>
					<ul class="foot__links-list">
						<li>
							<a href="#">Главная</a>
						</li>
						<li>
							<a href="#">Галлерея</a>
						</li>
						<li>
							<a href="#">О нас</a>
						</li>
						<li>
							<a href="#">Магазин</a>
						</li>
						<li>
							<a href="#">Блог</a>
						</li>
						<li>
							<a href="#">Контакты</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</footer>